:root {
  --prim-color: #155F3E;
  --back-color: rgba(255, 255, 255, 0.871);
  --text-color: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --prim-color: #42b883;
    --back-color: #212121;
    --text-color: rgba(255, 255, 255, 0.871);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  background-color: var(--back-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}