@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--prim-color);
  line-height: 0;
  text-decoration: none;
}

button {
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--back-color);
  border: 1px solid var(--back-color);
  transition: .2s;
  cursor: pointer;
}

button.block {
  margin: 0 .5em;
  padding: .6em 1.2em;
}

button.block:hover {
  filter: drop-shadow(0 0 .3em var(--prim-color));
}

input {
  padding: .6em 1.2em;
  border: 1px solid var(--text-color);
  border-radius: 0;
}